.btn {
  height: max-content;
  /* set the height of the button */
  width: max-content;
  /* set the width of the button */
  text-align: center;
  font-size: 120px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}

.btn-light {
  height: max-content;
  width: max-content;
  text-align: center;
  font-size: 50px;
  color: hotpink;
}

.img-fluid {
  height: 25%;
  width: 25%;
}