.btn {
  height: 550px;
  /* set the height of the button */
  width: 260px;
  /* set the width of the button */
  text-align: center;
  font-size: 120px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: coral;
}

.btn-info {
  height: max-content;
  width: max-content;
  text-align: center;
}

.img-fluid {
  height: 25%;
  width: 25%;
}