
<div class="container">

<center><h1>Pick a button, any button!!</h1></center>
<body style="background-color:aquamarine;" >
<center>
<button type="button" class="btn btn-form-control" ><a href="/cows/1" class="btn btn-primary btn active" role="button" aria-pressed="true" height= 100%>Pick Me!</a>
<button type="button" class="btn btn-form-control"><a href="/cows/1" class="btn btn-warning btn active" role="button" aria-pressed="true">Pick Me!</a>
<button type="button" class="btn btn-form-control"><a href="/cows/1" class="btn btn-danger btn active" role="button" aria-pressed="true">Pick Me!</a>
<button type="button" class="btn btn-form-control"><a href="/cows/1" class="btn btn-success btn active" role="button" aria-pressed="true">Pick Me!</a>
</center>
</p>
</div>
</div>
