
<div class="container">

<center><h1>Pick a button for a special surprise</h1></center>
<body style="background-color:aquamarine;" >
<% @cows.each do |cow|%>
<center>
<button type="button" class="btn btn-<%=@color %> form-control btn-lg"><a href= "/cows/<%=cow.id%>"> Surprise...</a></button>
</center>
</p>
<% end %>
</div>
</div>
