<center><h1> <%=@cow.compliment%> </h1>

<img src="<%= @cow.photo %>" width="500" height="600"/> </center>
<body style="background-color:SlateBlue;" >

<center> <button type="button"><a href="/cows" class="s/t-btn btn-primary" role="button" aria-pressed="true">Try Again?</button></a></center>
